/* Estilos extra para diferenciar salas */
.card-peli { border: 1px solid #ddd; padding: 20px; margin: 10px; border-radius: 10px; background: white; }
.opciones { display: flex; gap: 10px; justify-content: center; margin-top: 10px; }

.btn-vip { background-color: gold; color: black; font-weight: bold; }

/* Asientos VIP */
.asiento-vip { border: 2px solid gold !important; width: 60px; height: 60px; }
.asiento-vip.seleccionado { background-color: gold !important; color: black; }

/* Asientos Normales */
.seleccionado { background-color: #4CAF50; color: white; }
.ocupado-real { background-color: #555; cursor: not-allowed; opacity: 0.5; }